body {
    background: url("https://images.pexels.com/photos/301614/pexels-photo-301614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#titulo {

}

#dashboard {

}

#usuario {

}

#posts {

}

#formulario {
    
}
