{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>El usuario y/o contraseña no coinciden, prueba de nuevo.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no posee los permisos necesarios para acceder a la página.</p>
    {% else %}
    <p>Login</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

<p><a href="{% url 'password_reset' %}">Olvidó su password?</a></p>

{% endblock %}